<html>
	<head>
		<meta charset="utf-8">
		<title>Calculadora de emissões de carbono</title>
		<link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">
		<link rel="stylesheet" href="static/my.css">
	</head>
	<body>
		<div class="text-center container-fluid">
			<h1>Calculadora de emissões de carbono</h1>
			<p>Tenha uma rápida noção do impacto ambiental causado pelo dia a dia</p>
		</div>
		<div class="row top-space-form">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-5">
				<form method="post" accept-charset="utf-8">
					<input type="text" class="form-control space-area" placeholder="veiculo"/>
					<input type="text" class="form-control space-area" placeholder="alimentacao"/>
					<input type="text" class="form-control space-area" placeholder="energia eletrica"/>
					<input type="text" class="form-control space-area" placeholder="gás de cozinha"/>
					<input type="text" class="form-control space-area" placeholder="eletronicos"/>
					<input type="text" class="form-control space-area" placeholder="viagem"/>
					<input type="text" class="form-control space-area" placeholder="estado"/>
					<button type="submit" class="button">enviar</button>
				</form>
				
			</div>			
			<div class="col-sm-3">
				<p style="font-size:120px" class="text-center">250 T/co2</p>
			</div>
		</div>
	</body>
</html>
