<html>
	<head>
		<meta charset="utf-8">
		<title>Nós e o ar que respiramos</title>
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="my.css">
	</head>
	<body class="fixed-bg">
	<div style="background-color: rgba(0,0,0,.8);">
			<div class="text-center container-fluid">
			<h1>O ar que respiramos</h1>
			<h3>Como afeta nossa saúde e nossas vidas?</h3>
		</div>
		<div class="row">
			<div class="col-sm-1">
				
			</div>
			<div class="col-sm-10">

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, ante nec hendrerit fermentum, leo augue finibus justo, eget tempus ipsum ex quis ante. Praesent volutpat leo eu tellus feugiat, eu sodales lacus venenatis. Vestibulum eu nibh et enim facilisis pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ante velit, commodo a mi in, venenatis posuere lacus. Nullam accumsan urna in porta auctor. Pellentesque gravida mattis viverra. Nullam ac risus et mauris ornare feugiat in eget enim. Maecenas faucibus erat ac ex vestibulum, eu malesuada felis porttitor. Praesent vel justo massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer feugiat at ante ac vestibulum. Integer eu vulputate est. Etiam nibh dolor, scelerisque in lectus in, fringilla hendrerit massa. </p>

				<img src="temp_minimas.png", width="100%" style="background-color: #f0f0f0">

				<p> Nunc a massa elementum, ultrices metus a, placerat lectus. Duis vel tincidunt sem. Donec sagittis risus eu dui aliquam, et aliquam lacus vehicula. Mauris mollis mollis leo, non bibendum sem aliquet quis. Nam viverra nibh at sapien sodales suscipit. In consequat id lorem non maximus. Maecenas mollis ex massa, vel ultricies magna maximus ac. Integer blandit mauris quis nibh lobortis, et consectetur mauris ultrices.</p>

				<p>Etiam sodales elit eget urna sodales, vel volutpat arcu molestie. Nam dignissim mollis elit. Donec placerat urna ante, nec sagittis diam lacinia nec. Duis tristique commodo sapien, vitae rutrum sapien ullamcorper vel. Praesent quis aliquet magna, eu varius felis. Aenean orci mi, maximus in varius at, accumsan et sapien. Proin imperdiet auctor mattis. Sed nec dictum nisi. Ut nec mattis dolor. Cras finibus varius eros quis condimentum. Ut vitae vulputate ligula.</p>

				<img src="temp_maximas.png", width="100%" style="background-color: #f0f0f0">

				<p>
					Etiam eget molestie ex. Nam eu quam at velit consequat bibendum sed sit amet sem. Nunc et quam sed dui elementum blandit et nec urna. Pellentesque sed erat congue, bibendum turpis a, laoreet ligula. Nulla dignissim vulputate sem ac molestie. Etiam cursus eu eros vitae tempus. In hac habitasse platea dictumst. Quisque nibh tellus, pellentesque vitae risus in, accumsan sagittis nisi. Maecenas eleifend felis eget sapien dictum sollicitudin. Ut eget libero nec nibh mollis laoreet. Integer sit amet blandit ex. Nunc sodales aliquam massa ut fermentum. Sed at lacus at massa condimentum aliquet et ac massa. Aenean pharetra finibus tempor. 
				</p>
				<p>Phasellus suscipit turpis dignissim lacus porta volutpat. Ut lectus magna, accumsan id tellus tincidunt, finibus porttitor dolor. Vivamus bibendum dignissim tempus. Mauris in tristique justo. Integer ut feugiat orci. Pellentesque a facilisis massa. Proin feugiat dictum fermentum. Curabitur vel porttitor lorem, ac malesuada est. Curabitur ultrices imperdiet mollis. Donec facilisis fermentum eros, non rutrum risus fringilla id. </p>

			</div>
			<div class="col-sm-1">
				<p>Fonte dos dados: INMET</p>
			</div>
		</div>
		</div>	
	</body>
</html>
